@using Microsoft.AspNetCore.Identity
@using ThreeDimensionalWorld.Models
@model ThreeDimensionalWorld.Models.ApplicationUser

@{
    ViewData["Title"] = "Изтриване";
    Dictionary<IdentityRole, string> dictionary = (Dictionary<IdentityRole, string>)ViewData["RolesDictionary"]!;
    UserManager<ApplicationUser> userManager = (UserManager<ApplicationUser>)ViewData["userManager"]!;
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете потребителя?</h3>
<div>
    <h4>Потребител</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Потребителско име
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
           Имейл
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Телефонен номер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @foreach (var keyValuePair in dictionary)
        {
            <div>
                @if (await userManager.IsInRoleAsync(Model, keyValuePair.Key.Name!))
                {
                    <input name="roleNames" type="checkbox" value="@keyValuePair.Key.Name" checked disabled />
                }
                else
                {
                    <input name="roleNames" type="checkbox" value="@keyValuePair.Key.Name" disabled />
                }

                <label>@keyValuePair.Value</label>
            </div>
        }

        <input type="submit" value="Изтрий" class="btn btn-danger" />
        <a asp-action="Index">Към списъка</a>
    </form>
</div>
