@using ThreeDimensionalWorld.Models
@using ThreeDimensionalWorld.Utility
@model ThreeDimensionalWorld.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressId)
        </dt>
        <dd class="col-sm-10">
            @Model.Address?.Street, @Model.Address?.PopulatedPlace, @Model.Address?.Country
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOrdered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOrdered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfReceiving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfReceiving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForDelivery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceForDelivery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsReceived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsReceived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser!.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser!.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser!.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser!.FullName)
        </dd>
    </dl>

    <div class="container mt-5 ">
        <div class="row">
            @foreach (var item in Model.OrderItems)
            {
                ProductFile productFile = item.Product!.Files.ToList().FirstOrDefault(f => AllowedFormats.AllAllowedFormats.Contains(System.IO.Path.GetExtension(f.Name).ToLower()))!;

                <div class="col-md-4 mb-4 card-holder">
                    <div class="card">
                        <div class="card-3d-holder">
                            <div class="stl-container"
                                 data-3d-src="/3dModels/@productFile!.Name"
                                 style="width: 100%; aspect-ratio: 3/2;"
                                 data-3d-color="@item.Color!.ColorCode"></div>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">@item.Product.Title</h5>
                            <h6 class="card-subtitle price-item">@String.Format("{0:C}", item.TotalPrice)</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts {
    <script src="~/js/stlDisplay.js"></script>
}