@model IEnumerable<ThreeDimensionalWorld.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReceiving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser!.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser!.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @item.Address?.Street, @item.Address?.PopulatedPlace, @item.Address?.Country
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfReceiving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser!.Email)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser!.FullName)
                </td>
            <td>
                <div class="d-flex">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="~/js/datatables.js"></script>
}