@using ThreeDimensionalWorld.Models
@model ThreeDimensionalWorld.Models.Material

@{
    ViewData["Title"] = "Редактиране";
}

<h1>Редактиране</h1>

<h4>Материал</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" hidden />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Density" class="control-label"></label>
                <input asp-for="Density" class="form-control" />
                <span asp-validation-for="Density" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceIncrease" class="control-label"></label>
                <input asp-for="PriceIncrease" class="form-control" />
                <span asp-validation-for="PriceIncrease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colors" class="control-label"></label>
                <div class="row">
                    @foreach(var item in (IEnumerable<MaterialColor>)ViewBag.Colors)
                    {
                        <div class="col-sm-6">
                            @if (((List<int>)ViewBag.Selected).Contains(item.Id))
                            {
                                <div class="material-color-choose material-color-choose-active" data-color-id="@item.Id">

                                    <div class="color-square" style="background: @item.ColorCode"></div>
                                    <div class="material-color-choose-text">@item.Name</div>
                                </div>
                            }
                            else
                            {
                                <div class="material-color-choose" data-color-id="@item.Id">
                                    <div class="color-square" style="background: @item.ColorCode"></div>
                                    <div class="material-color-choose-text">@item.Name</div>
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>
            <div class="hidden-colors" hidden>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Към списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        document.addEventListener("DOMContentLoaded", () => {

            let colorSelect = document.querySelectorAll(".material-color-choose");
            let colors = document.querySelector(".hidden-colors");

            colorSelect.forEach((item, i) => {
                
                let colorId = item.getAttribute("data-color-id");
            
                let input = document.createElement("input");
                input.setAttribute("type", "number")
                input.setAttribute("value", parseInt(colorId));
                input.setAttribute("name", `colorIds`);



                let isSet = item.classList.contains("material-color-choose-active");

                if(isSet){
                    colors.appendChild(input);
                }

                item.addEventListener("click", () => {
                    if (isSet) {
                        item.classList.remove("material-color-choose-active");
                        colors.removeChild(input);
                    } else {
                        item.classList.add("material-color-choose-active");
                        colors.appendChild(input);
                    }

                    isSet = !isSet
                });

            });
        });




    </script>
}
