@model IEnumerable<ThreeDimensionalWorld.Models.Material>

@{
    ViewData["Title"] = "Материали";
}

<h1>Материали</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Добави</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceIncrease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Density)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceIncrease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Density)
            </td>
            <td>
               <div class="row">
                    <div class="col-md-4">
                        <a asp-action="Edit" class="btn btn-dark" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Редактирай</a>
                    </div>

                    <div class="col-md-4">
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id"><i class="bi bi-search"></i> Детайли</a>
                    </div>

                    <div class="col-md-4">
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Изтрий</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="~/js/datatables.js"></script>
}